body {
	background: url("login.png") no-repeat;
	width: 100%;
	height: 100vh;
	background-size: 100%;
}

.form-container {
	position: absolute;
	top: 25vh;
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 0px #adadad;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: transparent;
   color: #adadad;
   text-align: left;
   padding: 15px 0px 0px 10px;
}

