body {
	background: url("registrasi.jpg") no-repeat;
	width: 100%;
	height: 100vh;
	background-size: 100%;
}

.form-container {
	position: absolute;
	top: 5vh;
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 0px #adadad;
	background-color: transparent;
}
